@keyframes fade-in {
   from {
     opacity: 0;
    
    
   }
   to {
     opacity: 1;
  
     
   }
 }
 
 @keyframes fade-out {
   from {
     opacity: 1;
     font-size: 0.5em;
   }
   to {
     opacity: 0;
     font-size: 0em;
   }
 }



#item #content {
 display: none;
 font-size: 12px;
}

#item:hover #content {
 display: block;
 animation: fade-in 0.25s;
}

#item:not(:hover) #content.did-fade-in {
 display: block;
 animation: fade-out 0.25s;
}

h3{
font-weight: lighter;

}


#head{
   position: relative;
   font-size: 3.5em;
   margin: 1em;
   color:rgb(255, 255, 255);
   font-family: 'Bebas Neue', cursive;
   font-family: 'Caveat', cursive;
}
#list{

 width:90%;
 column-count: 2;
 text-align: center;
 display: inline-block;
}



#item{
   border-radius: 25px;
   border: 0.1px solid black;
   align-self: center;
  

   
   margin: 2em;
   display: inline-block;
   transition-duration: .25s;
}
#item:hover{
   border-radius: 25px;
   border: 0.3px solid;
   
   background-color: rgba(255, 255, 255, 0.05);
   transition-duration: .25s;
   transform: scale(1.01);

}

#words{
   
   color: rgb(255, 255, 255);
   position: relative;
   top: 50%;
   padding: 1em;
   
 
}

#words h1{
   
font-size: 1.5em;
   
 
}

#pic{
   max-width: 100%;
   height: auto;
   object-fit: fill;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

}