#head{

   
   position: relative;
   font-size: 3.5em;
   margin: 1em;
}
#list{

 width:90%;
 column-count: 2;
 text-align: center;
}
#item{
   border-radius: 25px;
   border: 0.1px solid black;
   align-self: center;
   background-color: rgba(255, 255, 255, 0.3);
   
   margin: 1em;
}
#item:hover{
   border-radius: 25px;
   border: 0.5px solid;
   
   background-color: rgba(255, 255, 255, 0.3);
   transition-duration: .25s;
   margin: 1em;
}

#words{
   
   color: black;
   position: relative;
   top: 50%;
   padding: 1em;
 
}
#pic{
   
   max-width: 100%;
   height: auto;
   object-fit: fill;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

}